$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;


$purple: #4f2c3e;
$cream: #f3ffb6;
$dark-grey: #8b8b8b;
$dark-purple: #381f33;
